__pycache__/.wolf31464pE8iedOGeO5A.cpython-311.pyc
__pycache__/particle.cpython-311.pyc
__pycache__/particle.cpython-312.pyc
__pycache__/firework.cpython-312.pyc
__pycache__/game.cpython-312.pyc
__pycache__/a.cpython-312.pyc
